@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-item {
  @apply rounded-lg bg-slate-500 px-4 py-2 text-white
}

.nav-item:hover {
  @apply bg-slate-600;
}

.nav-item.active {
    @apply bg-white text-slate-500 border border-slate-500 cursor-none
}
